.titulo{
    color: red;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.comidas{
    color: yellow;
    background-color: aqua;
}

.uno{
    font-weight: bold;
    color: hsl(240, 65%, 49%);
}
.dos{
    color: hsl(49, 59%, 45%);
    font-weight: bold;
    background-color: rgb(223, 212, 212);
    
}
.btn{
    margin: 20px;
    border: 2px black solid;
}

.btn:hover{
    color:rgb(51, 160, 65)
}
.btn:active{
    color: black;
}
.tres{
    display: flex;
    border: solid 1px black;
    padding: 20px;
    margin: 10px;
    justify-content: space-between;
}
.hijo{
    border: 1px solid black;
    margin: 6px;
    padding: 5px;
}
.siete{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(67, 165, 54);
}